@charset "UTF-8";

/*  Theme
================================================ */

// Fonts
@import "custom/theme/fonts";

// Variables
@import "custom/theme/colors";
@import "custom/theme/variables";

// Layout
@import "custom/theme/global";
@import "custom/theme/header";
@import "custom/theme/home";
@import "custom/theme/modpacks";
@import "custom/theme/page";
@import "custom/theme/footer";

// Responsive
@import "custom/theme/responsive";

/*  Components
================================================ */
@import "custom/components/nav";
@import "custom/components/scroll";
@import "custom/components/team";
@import "custom/components/modpack";
