/* Liste Modos
================================================ */

.list-team {
  .team {
    >div {
      img {
        height: 300px;
        object-fit: contain;
      }

      h3 {
        margin-top: 10px;
        @extend %texte;
        font-family: 'Montserrat', sans-serif;
        color: $turquoise;
        font-size: 3rem;
        font-weight: 500;
      }

      p {
        @extend %texte;
        margin-top: 0;
      }

      .team_social {
        padding-bottom: 2rem;

        a {
          font-size: 3rem;
          color: white;

          &:hover {
            color: $turquoise;
          }
        }
      }
    }
  }
}
