/* Global
================================================ */

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: black;
  scroll-behavior: smooth;
  height: 100%;
  background-color: $dark;

  ::selection {
    background: $turquoise;
    color: white;
  }

  ::-moz-selection {
    background: $turquoise;
    color: white;
  }
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $turquoise;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: $dark_turquoise;
}

body {
  overflow-x: hidden;
}

a:focus {
  outline:0 !important;
}

#wrapper {
  position: relative;
  height: 100%;
}
