#modpack {
  padding: 5rem 0;

  .list_modpacks {

    >div {
      padding-top: 3rem;

      img {
        border: 4px solid $turquoise;
      }

      h1 {
        @extend %title_h1;
        font-size: 4rem;

        span {
          font-family: 'Fredoka One', cursive;
          font-weight: normal;
          color: $turquoise;
          font-size: 3rem;
        }
      }

      .categories {
        >div {
          margin-top: 20px;

          h3 {
            @extend %texte;
            font-size: 1.6rem;
            padding: 1rem 0;
            border: 2px solid $turquoise;
            border-radius: 40px;
          }
        }
      }

      .countdown {
        padding: 2rem 0;
        .uk-countdown-number {
          @extend %title_h1;
          font-size: 4rem;
          color: $turquoise;
          font-family: 'Fredoka One', cursive;
        }
        .uk-countdown-separator {
          @extend %title_h1;
          font-size: 4rem;
          font-family: 'Fredoka One', cursive;
          padding: 0 0.5rem;
        }
      }

      p {
        padding-top: 1rem;
        @extend %texte;
        font-size: 1.6rem;

        strong {
          color: $turquoise;
        }
      }

      .button {
        padding-top: 1rem;
        .uk-button {
          @extend %button;
        }
      }
    }
  }
}

#islands {
  padding: 5rem 0;

  .titre {
    h3 {
      @extend %title_h1;
      font-size: 4rem;
    }
  }

  .ile {
    >div {
      img {
        border: 4px solid $turquoise;
      }

      h3 {
        margin-top: 10px;
        @extend %texte;
        font-family: 'Montserrat', sans-serif;
        color: $turquoise;
        font-size: 3rem;
        font-weight: 500;
      }

      .button {
        padding: 2rem 0;
        .uk-button {
          @extend %button;
        }
      }
    }
  }
}
