/* Contact
================================================ */

#wrapper.page {
  #top_page {
    padding: 5rem 0;

    .titre {
      h1 {
        @extend %title_h1;
      }
    }

    h4 {
      @extend %texte;
      font-size: 4rem;
    }

    p {
      @extend %texte;

      strong, a {
        color: $turquoise;
      }
    }

    .souligne_turquoise {
      @extend %souligne;
      &:after {
          background: $turquoise;
      }
    }
  }
}
